:root {
    --menu__border-width: 1px;
    --menu__border-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    overflow: hidden;
    
}
 
/* Overwrites display */
[hidden] { display: none !important; }

body {
    position: relative;
    color: white;
    background-color: black;
    overflow-x: hidden;
    height: 100%;
}
  
/* Allows canvas to maintain aspect ratio 16:9 */
.fullscreen {
    /* Give it less priority than the menu window */
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    object-fit: contain;
    position: relative;
    background: linear-gradient(90deg, rgba(50,42,52,1) 0%, rgba(66,29,68,1) 72%, rgba(65,0,78,1) 100%);    max-height: 100%;
    width: 100%;
    max-width: 100%;
    border: 4px solid rgb(82, 109, 168)
}

#canvas {
    display: block;
    width: 100%;
}

.score-counter {
    position: absolute;
    left: 0;
    padding: 2px 0 0 4px;
    font-weight: bold;
    
}


.options-overlay {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

/* Options menu items */
.game-title {
    text-align: center;
    font-size: 30px;
}

.menu-title {
    align-self: center;
    padding: 10px;
    font-size: 30px;
}

.options-menuscreen {
    position: relative;
    height: 100%;
    display:flex;
    flex-direction: column;
    
}

.options-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* -------------------- 
        MENUS 
--------------------*/
.difficulty, .settings, .pause, .shop, .victory, .defeat {
    transform: translateX(200%);
}

.options__menu-item[data-option='resume']:after {
    content: url("./images/playButton.svg");
    padding-left: 10px;
}

.mainmenu, .settings, .difficulty, .pause, .shop, .victory, .defeat {
    background: linear-gradient(0deg, rgba(42,155,157,1) 0%, rgba(41,166,212,1) 46%, rgba(54,119,209,1) 100%);
    border-radius: 10px;
    width: 100%;
    position: absolute;
    transition: transform 0.67s;
}

.victory .menu-title{
    color: green;
}

.defeat .menu-title {
    color: red;
}

/* ------- Buttons for returning || fullscreening || pausing || opening shop --------*/

/* Options for ingame buttons */
.game-options {
    display:flex;
    position: absolute;
    align-content: flex-end;
    justify-content: flex-end;
    right: 0;
    width: 30%;
}

.options-shop, .options-pause {
    padding: 3px 3px;
    margin: 0 0 0 5px;
    border: var(--menu__border-width) solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-shop:active, .options-pause:active {
    transform: scale(1.07);
}

.options-shop:hover, .options-pause:hover {
    opacity: 0.7;
}

/* Shop button */
.options-shop {
    background-color: #9ca312a2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pause button */
.options-pause {
    background-color: #30c0eba6;
}

.options-pause img {
    object-fit: cover;
}

/* Setting up buttons */
.options-fullscreen, .options-exit, .options-return {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 5;
    display:flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.options-fullscreen:hover, .options-return:hover, .options-exit:hover {
    transform:scale(1.05);
    opacity: 0.7;
}

/* return button */
.options-return {
    left: 0!important;
    right: auto;
}

.options-return:before {
    content: url("./images/arrow.svg");
}

/* Fullscreen button */
.options-fullscreen:before {
    content: url('./images/enlarge1.svg');
    
}

/* Exit menu button */
.options-exit:before {
    content: url('./images/Exit.svg');
}


/* ----------------------------
        End menu buttons
*-------------------------------/
/* 
    Menu items and sidemenu
*/
.options__menu, .options__menu-sidemenu {
    text-align: center;
    width: 100%;
}

.options__menu-item {
    font-size: 40px;
    cursor: pointer;
    border-bottom: var(--menu__border-width) solid var(--menu__border-color);
    padding: 5px 0;
}

.options__menu-item > * {
    pointer-events: none;
}

.options__menu-item:first-child {
    border-top: var(--menu__border-width) solid var(--menu__border-color);
}

.options__menu-item:hover {
    opacity: 0.65;
}

.options__menu-item:last-child {
    margin-bottom: 10px;
}

.options__menu-sidemenu {
    position: relative;
    left: 0%;
}

.container {
    width: 50%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 512px;
    }
}

@media screen and (max-width: 512px) {
    .container {
        width: auto;
    }
}
