:root {
    --menu__border-width: 1px;
    --menu__border-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    overflow: hidden;
    
}
 
/* Overwrites display */
[hidden] { display: none !important; }

body {
    position: relative;
    color: white;
    background-color: black;
    overflow-x: hidden;
    height: 100%;
}
  
/* Allows canvas to maintain aspect ratio 16:9 */
.fullscreen {
    /* Give it less priority than the menu window */
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    object-fit: contain;
    background: grey;
    border: 10px solid white;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}


#canvas {
    border: 10px solid black;

}

.options-overlay {
    height: 100vh;
    width: 100vw;
    background: black;
}

/* Options menu items */
.game-title {
    text-align: center;
    font-size: 30px;
}

.menu-title {
    align-self: center;
    padding: 10px;
    font-size: 30px;
}



/* This is used to order the menu lists */
.options-menuscreen {
    position: relative;
    height: 100%;
    display:flex;
    flex-direction: column;
    
}

.difficulty, .settings, .paused {
    transform: translateX(200%);
}

.options__menu-item[data-option='resume']:before {
    content: url("./images/playButton.svg");
}


.mainmenu, .settings, .difficulty, .paused {
    background: linear-gradient(0deg, rgba(42,155,157,1) 0%, rgba(41,166,212,1) 46%, rgba(54,119,209,1) 100%);
    border-radius: 10px;
    width: 100%;
    position: absolute;
    transition: transform 0.67s;
}

/* Buttons for returning || fullscreening || pausing || opening shop */
/* 
    Start menu buttons
*/

/* Return button */
.options-return {
    position: absolute;
    left: 0;
    cursor: pointer;
    z-index: 5;
    display:flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.options-return:before {
    position: relative;
    /* Offset height to match text height */
    content: url('./images/arrow.svg');
}

.options-return:hover{
    opacity: 0.7;
    transform:scale(1.05);
}


/* Fullscreen button */

.options-fullscreen {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 5;
    display:flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.options-fullscreen:before {
    content: url('./images/enlarge1.svg');
    
}

.options-fullscreen:hover {
    transform:scale(1.05);
    opacity: 0.7;
}


/* ----------------------------
        End menu buttons
*-------------------------------/


/* 
    Menu items and sidemenu
*/
.options__menu, .options__menu-sidemenu {
    text-align: center;
    width: 100%;
}

.options__menu-item {
    font-size: 40px;
    cursor: pointer;
    border-bottom: var(--menu__border-width) solid var(--menu__border-color);
    padding: 5px 0;
}

.options__menu-item > * {
    pointer-events: none;
}

/* Gives first menu item a border on the top */
.options__menu-item {
    border-top: var(--menu__border-width) solid var(--menu__border-color);
}

.options__menu-item:hover {
    opacity: 0.65;
}

.options__menu-item:last-child {
    margin-bottom: 10px;
}

.options__menu-sidemenu {
    position: relative;
    left: 0%;
}

.fullscreen__menu {
    height: 100%;
}

.container {
    width: 50%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.options-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 512px;
    }
}

@media screen and (max-width: 512px) {
    .container {
        width: auto;
    }
}
